
/*---------------Eric Meyer CSS Reset-------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
  outline: 0;
}
body {
  line-height: 1;
  color: black;
  background: white;
}
ol, ul {
  list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption, th, td {
  text-align: left;
  font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}
blockquote, q {
  quotes: "" "";
}

* {
  box-sizing: border-box;
}
/*----------------------------------------------------*/

body {
  background-color: #edeef0;
}

ol, ul {
  list-style-position: inside;
  width: 100%;
  height: 217px;
  padding: 8px 0px 12px 0px;

}

li {
  line-height: 100%;
  height: calc(100% / 7);
  width: 100%;
  vertical-align: baseline;
  font-size: 12px;
  font-weight: 400;
  padding: 7px 0px 7px 0px;
  font-family: sans-serif;
}

li::before {
  height: 28.14px;
  vertical-align: middle;
  content: "\2022";
  font-size: 11px;
  font-weight: 700;
  color: #a5a6a7;
  padding: 7px 4px 7px 12px;
  font-family: sans-serif;
}

@font-face {
  font-family: espn;
  src: url(assets/sI.ttf);
}

#viewport {
  height: 100vh;
  width: 100vw;
  background-color: #edeef0;
}

header {
  height: 44px;
  width: 100%;
  background: #2b2c2d;
  box-shadow: 0 4px 2px -2px rgba(0,0,0,0.3);
}

a#mobile-nav {
  height: 44px;
  width: 44px;
  background: transparent;
  position: relative;
  float: left;
  z-index: 3;
}

span {
  width: 24px;
  background: #ffffff;
  height: 3px;
  margin: 0 auto;
  display: block;
  position: relative;
  top: 21px;
  border-radius: 3px;
}

span::before {
  width: 24px;
  background: #ffffff;
  height: 3px;
  margin-top: -7px;
  content: '';
  display: block;
  position: absolute;
  border-radius: 3px;

}

span::after {
  width: 24px;
  background: #ffffff;
  height: 3px;
  margin-top: 7px;
  content: '';
  display: block;
  position: absolute;
  border-radius: 3px;
}

h1 {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 24px;
  width: 120px;
  float: left;
}

h1::before {
  width: 200px;
  content: '';
  background: #d00;
  transform: skew(-25deg, 0);
  height: 44px;
  display: block;
  position: absolute;
  left: -30px;
  top: 0;
  z-index: 2;
}

h1::after {
  width: 200px;
  content: '';
  background: #b40000;
  left: -20px;
  position: absolute;
  top: 0;
  display: block;
  height: 44px;
  z-index: 1;
  transform: skew(-25deg, 0);
}

#main-logo {
  background: transparent;
  width: 110px;
  margin: auto auto auto 10px;
  position: absolute;
  color: #ffffff;
  text-decoration: none;
  font-size: 24px;
  font-family: espn;
  line-height: 24px;
  z-index: 3;
}

@media screen and (min-width: 768px) {

  .main {
    margin: 20px calc((100vw - 660px) / 2) 0px calc((100vw - 660px) / 2);
    background-color: white;
  }

    #headlines {
    display: inline-block;
    width: 660px;
    height: 261px;
    background-color: white;
    margin: 10px calc((100vw - 660px) / 2) 0px calc((100vw - 660px) / 2);
    vertical-align: top;
  }

    .heading {
    margin-top: 10px;
    width: 660px;
    height: 50px;
    background-color: white;
    border-top: 2px #cbccce solid;
    border-bottom: 1px solid #edeef0;
  }

  .subContent {
    width: calc(100% - 180px);
    display: inline-block;
    padding: 12px 20px 12px 8px;
  }

  #content {
    width: 660px;
    margin: 0px calc((100vw - 660px) / 2) 0px calc((100vw - 660px) / 2);
    background-color: #edeef0;
  }

    article {
    width: 660px;
    background-color: white;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 767px) {
  
  .main {
    margin-top: 10px;
  }

  #headlines {
    display: inline-block;
    width: 100%;
    height: 261px;
    background-color: white;
    margin: 10px 0px 0px 0px;
    vertical-align: top;
  }

  #content {
    width: 100%;
    margin-top: 10px;
    background-color: #edeef0;
  }

  article {
    background-color: white;
    padding-bottom: 10px;
  }

    .heading {
    margin-top: 10px;
    width: 100%;
    height: 50px;
    background-color: white;
    border-top: 2px #cbccce solid;
    border-bottom: 1px solid #edeef0;
  }

  .subContent {
    width: calc(100% - 180px);
    display: inline-block;
    padding: 12px 20px 12px 8px;
  }

}

@media screen and (min-width: 1024px) {

  .main {
    margin: 10px 20px 0px calc((100vw - 980px) / 2);
    background-color: white;
    float: left;

  }
  #content {
    float: left;
    width: 660px;
    margin: 0px 20px 0px calc((100vw - 980px) / 2);
    background-color: #edeef0;
  }
  #headlines {
    display: inline-block;
    width: 300px;
    height: 261px;
    background-color: white;
    margin: 10px calc((100vw - 980px) / 2) 10px 0px;
    vertical-align: top;
  }
  article {
    width: 660px;
    background-color: white;
  }
  .heading {
    margin-top: 10px;
    width: 660px;
    height: 50px;
    background-color: white;
    border-top: 2px #cbccce solid;
    border-bottom: 1px solid #edeef0;
  }
  .subContent {
    min-height: 144px;
    width: 476px;
    display: inline-block;
    padding: 12px 20px 12px 8px;
  }
}

img {
  width: 100%;
}

.articleContent {
  padding: 12px;
}

h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 33.6px;
  margin-right: 4px;
  margin-bottom: 6px;
  color: #1d1e1f;
  font-family: sans-serif;
}

h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.4;
  color: #1d1e1f;
  font-family: sans-serif;
  margin-bottom: 6px;
  margin-right: 4px;
}

p {
  font-family: sans-serif;
  color: #6c6d6f;
  font-size: 14px;
  max-height: 72px;
}

#hheader {
  margin: 0;
  padding: 0px 12px 0px 12px;
  width: 100%;
  height: 43px;
  border-bottom: 1px solid #edeef0;
  vertical-align: baseline;
  line-height: 44px;
  font-size: 16px;
  font-family: sans-serif;
  color: #6c6d6f;
}

.subPic {
  width: 180px;
  height: 120px;
  padding: 12px 0px 0px 20px;
  display: inline-block;
  vertical-align: top;
}

.logo {
  display: inline-block;
  width: 72px;
  height: 40px;
}

h4 {
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: .15em;
  line-height: 18px;
  text-transform: uppercase;
  color: #1d1e1f;
  font-family: sans-serif;
  height: 100%;
  vertical-align: top;
  padding-top: 14.5px;
}
