/*---------------Eric Meyer CSS Reset-------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* remember to define focus styles! */
:focus {
  outline: 0;
}
body {
  line-height: 1;
  color: black;
  background: white;
}
ol, ul {
  list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption, th, td {
  text-align: left;
  font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}
blockquote, q {
  quotes: "" "";
}
/*----------------------------------------------------*/

body {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}

.polaroid {
  height: calc(5vw * 1.19);
  width: 5vw;
  padding: calc(5% * .0526) calc(5% * .0526) calc(5% * .0789) calc(5% * .0526);
  margin: 2% 0 0 2%;
  background: white;
  font-size: 10px;
  text-align: center;
  font-family: "Marker Felt", sans-serif;
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
  -webkit-transform: rotate(-2deg);
}

img {
  width: calc(100% * .857);
  margin-bottom: 12px;
  height: calc(100% * .709);
}

div.polaroid:after {
  content: attr(title);
}

div#tv:after {
  content: attr(title);
  z-index: 20;
  color: white;
  font-size: 5px;
  position: absolute;
  top: 97.5%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

#tv {
  margin: 5% 5vw 5% 30vw;
  width: 40vw;
  height: calc(40vw * .578);
  background: black;
  position: relative;
  border-radius: 3px;
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
  float: left;
}

#screen {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  width: calc(100% - 4%);
  height: calc(100% - (4% * 1.73));
  background-image: url("static.webp");
  background-size: 100%;
  transform: translate(-50%, -50%);
}

#frame {
  position: relative;
  margin-top: 1%;
  width: 20vw;
  height: calc(31.25vw);
  background: #9C6F3E;
  float: left;
}

#corkboard {
  margin: 0;
  background: black;
  height: calc(31.25vw - 20px);
  width: calc(20vw - 20px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}